<h1>Cocktails</h1>
<ul>
<% @cocktails.each do |cocktail| %>
<li>
  <%= cocktail.name %>
<%= link_to 'Edit',  new_cocktail_path(cocktail)  %>
<%= link_to 'Show',  cocktail_path(cocktail)  %>
<%= link_to 'Destroy',  cocktail_path(cocktail), method: :delete %>
<%= link_to 'Add a dose',  new_cocktail_dose_path(cocktail)%>
</li>
<% end %>
</ul>
<%= link_to "Create you cocktail!", new_cocktail_path %>
